<h1>New Bulk Discount</h1>

<%= form_tag "/merchant/bulk_discounts", method: :post do %>
  <%= label_tag :discount_percentage %>
  <%= text_field_tag :discount_percentage %>

  <%= label_tag :item_minimun %>
  <%= text_field_tag :item_minimun %>

  <%= submit_tag "New Bulk Discount" %>
<% end %>
